[Unit]
Description=IP_Script
Requires=network-online.target
After=network.target network-online.target multi-user.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/stats.py
Restart=on-failure
RestartSec=10
SuccessExitStatus=0
Type=simple
RemainAfterExit=false


[Install]
WantedBy=multi-user.target

